@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,800;1,200&display=swap");
@import url("../js/bootstrap-slider/css/bootstrap-slider.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

strong {
  font-weight: bold;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.fa-size {
  width: 20px;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
}

.f21 {
  font-size: 21px;
  margin-right: 10px;
}

.f20 {
  font-size: 20px;
  margin-right: 10px;
}

.f18 {
  font-size: 18px;
  margin-right: 10px;
}

.form-check-input:checked {
  background-color: #FFAB00;
  border-color: #FFAB00;
}

.main-content {
  background-color: #FAFBFC;
}
@media screen and (max-width: 767px) {
  .main-content {
    padding-top: 46px;
  }
}
.main-content .navbar-top-menu {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #091E42;
}
.main-content .navbar-top-menu .top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #FFFFFF;
}
.main-content .navbar-top-menu .top-menu .navbar-nav {
  flex-direction: row;
}
@media screen and (max-width: 500px) {
  .main-content .navbar-top-menu .top-menu .navbar-nav {
    margin: 0 !important;
  }
}
.main-content .navbar-top-menu .top-menu .top-menu-esquerda {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .main-content .navbar-top-menu .top-menu .top-menu-esquerda {
    justify-content: center;
  }
}
.main-content .navbar-top-menu .top-menu .top-menu-direita {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .main-content .navbar-top-menu .top-menu .top-menu-direita {
    justify-content: center;
  }
}
.main-content .navbar-top-menu .top-menu .top-menu-direita .navbar-nav > li:first-of-type {
  margin-right: 15px;
}
.main-content .navbar-top-menu .top-menu .top-menu-direita .navbar-nav > li > a {
  color: #FFFFFF;
}
.main-content .navbar-top-menu .top-menu .top-menu-direita .dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}
.main-content .navbar-top-menu .top-menu .top-menu-direita .dropdown .dropdown-toggle p {
  margin: 0;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.1;
}
.main-content .navbar-top-menu .top-menu .top-menu-direita .dropdown .dropdown-toggle p span {
  font-size: 11px;
}
@media screen and (max-width: 500px) {
  .main-content .navbar-top-menu .top-menu {
    flex-direction: column;
  }
}
.main-content .breadcrumbs {
  padding: 20px 0;
}
.main-content .breadcrumbs h2 {
  font-size: 24px;
  padding-right: 10px;
  margin: 0;
  color: #091E42;
}
.main-content .breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  content: ">>" !important;
  letter-spacing: -3px;
  color: #0052CC;
}
.main-content .breadcrumbs .breadcrumb {
  margin: 0 !important;
  border-left: 1px solid #091E42;
  padding-left: 10px;
}
.main-content .breadcrumbs .breadcrumb .breadcrumb-item {
  font-size: 14px;
}
.main-content .breadcrumbs .breadcrumb .breadcrumb-item.active {
  color: #FF000A;
}
.main-content .breadcrumbs .breadcrumb .breadcrumb-item.active:before {
  color: #FF000A;
}
.main-content .configuracao p {
  color: #FFFFFF;
  background-color: #091E42;
  padding: 6px 10px;
  border-radius: 100%;
  cursor: pointer;
}

.sidebar {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .sidebar {
    position: absolute;
    padding: 55px 20px;
    z-index: 100;
  }
}
.sidebar .nav-logo {
  padding: 5px;
}
.sidebar .nav-logo img {
  max-width: 100%;
}
.sidebar p {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
  padding: 0;
}
.sidebar .nav-item .nav-link {
  width: 100%;
  color: #0052CC;
  padding: 5px;
}
.sidebar .nav-item:hover, .sidebar .nav-item.active {
  background-color: #0052CC;
}
.sidebar .nav-item:hover .nav-link, .sidebar .nav-item.active .nav-link {
  color: #FFFFFF;
}
.sidebar .accordion-button:after {
  transform: rotate(270deg);
}
.sidebar .accordion-button:not(.collapsed):after {
  transform: rotate(360deg);
}

.botao-mobile {
  z-index: 150;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.botao-mobile:focus {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5) !important;
}

.filters-side .filters {
  padding: 25px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13522);
  border-radius: 8px;
  background-color: #FFFFFF;
}
.filters-side .filters h1 {
  font-size: 18px;
}
.filters-side .filters h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
.filters-side .filters label, .filters-side .filters p {
  font-weight: 300;
  font-size: 16px;
}
.filters-side .filters .form-check label {
  display: flex;
  justify-content: space-between;
}
.filters-side .filters .slider-range .irs-bar {
  background-color: #0052CC;
}
.filters-side .filters .slider-range .slider.slider-horizontal {
  width: 100%;
}
.filters-side .filters .slider-range .slider.slider-horizontal .slider-track {
  background-color: #A5ADBA;
}
.filters-side .filters .slider-range .slider.slider-horizontal .slider-track .slider-track-low {
  background-color: #A5ADBA;
}
.filters-side .filters .slider-range .slider.slider-horizontal .slider-track .slider-selection {
  background-color: #0052CC;
  background-image: none;
}
.filters-side .filters .slider-range .slider.slider-horizontal .slider-track .slider-track-high {
  background-color: #A5ADBA;
}
.filters-side .filters .slider-range .slider.slider-horizontal .slider-handle.min-slider-handle {
  background-color: #0052CC;
  background-image: none;
}
.filters-side .filters .slider-range .slider.slider-horizontal .slider-handle.max-slider-handle {
  background-color: #0052CC;
  background-image: none;
}
.filters-side .filters > .range, .filters-side .filters .slider-range, .filters-side .filters .categories, .filters-side .filters .brand {
  padding-bottom: 20px;
  border-bottom: 1px solid #091E42;
}
.filters-side .filters .rating p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 8px;
}
.filters-side .filters .rating p:last-of-type {
  padding: 0;
}

.clear-filter {
  margin: 20px 0;
}
.clear-filter a {
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #0052CC;
  display: block;
  border-radius: 8px;
  font-size: 18px;
}
.clear-filter a:hover {
  background-color: #253858;
  color: #FFFFFF;
}

.results {
  height: 38px;
  margin-bottom: 15px;
}
.results h1 {
  font-size: 18px;
  margin: 0;
}
.results .setting-search select {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.results .setting-search span {
  padding: 6px 10px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.input-search {
  margin-bottom: 20px;
}
.input-search .form-control {
  font-size: 22px;
  font-weight: 300;
  color: #091E42;
  padding: 10px 20px;
  padding-right: 50px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13522);
  background: url('../images/search.png?1609164745') #FFFFFF no-repeat right 15px center;
}
.input-search .form-control:focus {
  color: #091E42;
  outline: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13522);
}

.produtos .produto {
  background-color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13522);
  margin-bottom: 15px;
}
.produtos .produto .produto-dados {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}
.produtos .produto .produto-dados .produto-sobre {
  padding-left: 15px;
}
.produtos .produto .produto-dados .produto-sobre h5 {
  font-size: 16px;
}
.produtos .produto .produto-dados .produto-sobre h6 {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 15px;
}
.produtos .produto .produto-dados .produto-sobre p {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
}
.produtos .produto .produto-preco {
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 1px solid #091E42;
  text-align: center;
}
.produtos .produto .produto-preco h5 {
  font-size: 18px;
}
.produtos .produto .produto-preco p {
  font-size: 14px;
  font-weight: 300;
}
.produtos .produto .produto-preco .produto-rating {
  display: flex;
  justify-content: flex-end;
  min-height: 31px;
}
.produtos .produto .produto-preco .produto-rating p {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #253858;
  color: #FFFFFF;
  margin: 0;
  border-radius: 8px;
}
.produtos .produto .produto-preco .botao-wishlist, .produtos .produto .produto-preco .botao-add-cart {
  border-radius: 8px;
  padding: 10px 15px;
  text-decoration: none;
}
.produtos .produto .produto-preco .botao-wishlist {
  display: block;
  background-color: #C1C7D0;
  color: #091E42;
  margin-bottom: 15px;
}
.produtos .produto .produto-preco .botao-add-cart {
  display: block;
  background-color: #253858;
  color: #FFFFFF;
}

.paginacao {
  display: flex;
  justify-content: center;
  padding: 20px 15px;
}
.paginacao nav .pagination {
  margin: 0;
}
.paginacao nav .pagination .page-item .page-link {
  color: #091E42;
  background-color: #FFFFFF;
  border-color: #091E42;
  font-size: 18px;
  padding: 6px 15px;
}
.paginacao nav .pagination .page-item .page-link:hover, .paginacao nav .pagination .page-item .page-link.active {
  background-color: #091E42;
  color: #FFFFFF;
}
.paginacao nav .pagination .page-item.next {
  margin-left: 15px;
}
.paginacao nav .pagination .page-item.prev {
  margin-right: 15px;
}
.paginacao nav .pagination .page-item.prev .page-link, .paginacao nav .pagination .page-item.next .page-link {
  color: #091E42;
  background-color: #FFFFFF;
  border-color: #091E42;
  font-size: 18px;
  border-radius: 100%;
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13522);
  padding: 7px 15px;
}
.paginacao nav .pagination .page-item.prev .page-link:hover, .paginacao nav .pagination .page-item.prev .page-link.active, .paginacao nav .pagination .page-item.next .page-link:hover, .paginacao nav .pagination .page-item.next .page-link.active {
  background-color: #091E42;
  color: #FFFFFF;
}
